[project]
	description = A set of ansible roles used to deploy a tripleo overcloud assuming a running undercloud
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Attila Darazs (adarazs)
	owner = group user/John Trowbridge (trown)
	owner = group user/Lars Kellogg-Stedman (larsks)
	owner = group user/mathieu bultel (matbu)
	owner = group user/wes hayutin (weshayutin)
	label-Verified = -1..+1 group user/rdo-ci-centos
[access "refs/for/refs/*"]
	read = group rdo-ci-group
	read = group user/wes hayutin (weshayutin)
	push = group user/mathieu bultel (matbu)
	push = group user/wes hayutin (weshayutin)
	label-Code-Review = -2..+2 group user/Attila Darazs (adarazs)
	label-Code-Review = -2..+2 group user/John Trowbridge (trown)
	label-Code-Review = -2..+2 group user/Lars Kellogg-Stedman (larsks)
	label-Code-Review = -2..+2 group user/mathieu bultel (matbu)
	label-Code-Review = -2..+2 group user/wes hayutin (weshayutin)
	label-Verified = -1..+1 group rdo-ci-group
	label-Verified = -1..+1 group user/wes hayutin (weshayutin)
	rebase = group rdo-ci-group
	rebase = group user/wes hayutin (weshayutin)
	removeReviewer = group user/wes hayutin (weshayutin)
	submit = group rdo-ci-group
	submit = group user/wes hayutin (weshayutin)
[access "refs/heads/*"]
	read = group user/wes hayutin (weshayutin)
	create = group user/wes hayutin (weshayutin)
	push = +force group user/wes hayutin (weshayutin)
	pushMerge = group user/wes hayutin (weshayutin)
[access "refs/tags/*"]
	push = +force group user/wes hayutin (weshayutin)
	pushTag = group user/wes hayutin (weshayutin)
	pushSignedTag = group user/wes hayutin (weshayutin)
